- unless @page.ancestors.empty?
  %ul.breadcrumb
    - @page.ancestors.each do |i|
      - if i.in_nav
        %li
          = link_to i.title, i.full_url, :title => i.title
          %span{:class => "divider"} /
