- content_for :header do 
  = @title
.sitemap
  %p
    %ul
      - @roots.each do |root|
        - level = root.level
        - last_page = nil

        - root.self_and_descendants.each do |page|
          - if page.in_map
            - if page.level > level
              <ul>
            - elsif page.level < level
              </li>
              = raw "</ul></li>" * (level-page.level)
            - elsif !page.root?
              </li>

            <li>
            = link_to page.title, page.full_url, :title => page.title
            - level = page.level
          - last_page = page
        </li>
        = raw "</ul></li>" * last_page.level