- content_for :header do 
  = @title
.sitemap
  %p
    %ul
      - @pages.each do |page|
        - if page.active and page.in_map
          %li{:class => "offset-#{page.level}"}
            - if page.link.empty?
              = link_to page.title, page.full_url
            - else
              = link_to page.link