%p
  Привет, #{@resource.email}!
%p Вы сделали запрос на смену пароля. Для того чтобы изменить пароль пройдите по следующей ссылке:
%p= link_to 'Изменить пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Если Вы не делали запрос на изменение пароля, то проигнорируйте это письмо.
%p Ваш пароль останется прежним до тех пор пока вы не пройдете по ссылке.

