@import 'bootstrap';
@import 'font-awesome';

body {
  min-width: 950px;
  color: $gray;
}

.text-right {
  text-align: right;
}

.avatar {
  @include border-radius(2px);
}

.navbar-constructor > .navbar-inner {
  padding: 5px;
  background-color: rgba(245,245,245,0.7);
  background-image: none;
  @include border-radius(0);
  @include box-shadow(none);
  border: none;
  border-bottom: 1px solid #ddd;
}

.navbar .nav > li > a {
  &:hover { color: #e00 }
}

.btn {
  @include buttonBackground(#fff, #eee, $grayDark);
  background-color: $grayLighter;
  color: $gray;
  border: 1px solid #ddd;
  text-shadow: none;
  font-weight: normal;
  @include box-shadow(none);

  &.btn-link {
    background-image: none;
    color: #0090ff;
    border: none;
    background-color: transparent;

    &:hover {
      text-decoration: none;
      color: #e00;
    }
  }

  &.btn-danger {
    background-image: none;
    border: none;
    color: #e00;
    background-color: transparent;

    &:hover {
      background-color: #e22;
      color: $white;
    }
  }

  &.btn-primary {
    background-image: none;
    border: none;
    background-color: #006dff;
    color: $white;
  }

  &.btn-success {
    background-image: none;
    border: none;
    background-color: #36af00;
    color: $white;
  }

  &.btn-large { font-size: $baseFontSize*1.5 }
}

.images_controls {
  float: left;
  overflow: hidden;
  display: inline-block;
  width: 180px;
  margin-bottom: 20px;

  .actions {
    margin-top: 5px;
    margin-left: 28px;
  }
}

.sizes .controls {
  margin-bottom: 30px;
}

.url {
  font-size: 12px;

  .full_url {
    margin-top: 6px;
    float: left;
  }

  .icon-pencil {
    margin-top: 10px;
    margin-left: 3px;
  }

  .address {
    font-weight: bold;

    &:hover {
      background-color: #ffa;
    }
  }
}

.url .icon-pencil {
  display: none;
}

.url:hover .icon-pencil {
  display: inline-block;
}