.b-tree__expand {
  position: absolute;
  left: 28px;
  color: #555;
  line-height: 44px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}